@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #dcddde;
  background: #36393f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

